{{> partials/en_tete}}
<main>
    <h2>Partager un document</h2>
    <form action="/ajouter-ressource" method="POST">
        <label>Matière :</label>
        <input type="text" name="matiere" placeholder="ex: Web" required>
        <label>Titre du document :</label>
        <input type="text" name="titre" placeholder="ex: Fiche révision CSS" required>
        <label>Lien URL (Google Drive, etc.) :</label>
        <input type="url" name="lien_url" placeholder="https://..." required>
        <button type="submit" class="btn-principal">Ajouter à la bibliothèque</button>
    </form>
</main>
{{> partials/pied_de_page}}