{{> partials/en_tete}}
<main>
    <h2>Poser une question</h2>
    <form action="/nouvelle-demande" method="POST">
        <label>Matière :</label>
        <input type="text" name="matiere" placeholder="ex: Algorithmique" required>
        <label>Description de votre problème :</label>
        <textarea name="description" rows="6" required></textarea>
        <button type="submit" class="btn-principal">Publier la demande</button>
    </form>
</main>
{{> partials/pied_de_page}}