{% include 'en_tete.html' %}

<main>
    <h1>Bienvenue sur Luminy-Connect</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div>
          {% for message in messages %}
            <p>⚠️ {{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div>
        <h2>Se connecter</h2>
        <form action="/connexion" method="POST">
            <label for="nom_utilisateur">Nom d'utilisateur :</label><br>
            <input type="text" id="nom_utilisateur" name="nom_utilisateur" required><br><br>

            <label for="mot_de_passe">Mot de passe :</label><br>
            <input type="password" id="mot_de_passe" name="mot_de_passe" required><br><br>

            <button type="submit">Connexion</button>
        </form>
    </div>

    <hr>

    <div>
        <h2>S'inscrire</h2>
        <form action="/inscription" method="POST">
            <label for="nom_reg">Nom d'utilisateur :</label><br>
            <input type="text" id="nom_reg" name="nom_utilisateur" required><br><br>

            <label for="mdp_reg">Mot de passe :</label><br>
            <input type="password" id="mdp_reg" name="mot_de_passe" required><br><br>

            <label for="type_etudiant">Votre profil :</label><br>
            <select id="type_etudiant" name="type_etudiant" required>
                <option value="filleul">Nouvel arrivant (L1)</option>
                <option value="parrain">Étudiant expérimenté (L2/L3)</option>
            </select><br><br>

            <button type="submit">Inscription</button>
        </form>
    </div>

</main>

{% include 'pied_de_page.html' %}